/*----------------------------------RESET------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------CSS----------------------------------*/
html{
  font-family: roboto;
  height: auto;
  width: auto;
  background-image: url('../images/back.png');
  background-repeat: repeat;
}
#body{
  min-height: 100%
}

#menu{
  float: left;
  min-height: 5%;
  max-height: : 5%;
  height: 5%;
  background: #353535;
  color: white;
  width: 100%;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  font-family: roboto;

}

.titulo{
padding-top: 5%;
  text-align: center;
  font-weight: bolder;
  font-size: 200%;
}

#list{
  display: block;
  float: left;
  top: 0;
  width: 100%;

}

.li-list{
  position: relative;
  top: 0;
  float: left;
  display: block;
  width: 20%;
  height: 100%;
  font-weight: bold;
  background: rgb(38, 198, 16);

}
.a-list{
  text-decoration: none;
  color: white;
}
.li-content{

}
.title{
  margin-right: 10%;
}

.li-list :hover{
  text-decoration: none;
  background: #6a6a6a;
  color: #353535;
}

#content{
  height: auto;
  width: 100%;
  min-width: 80%;
  margin: 5% 0 1% 0;

}

.noticia{
  height: auto;
  width: 90%;
  padding: 5%;
  margin-bottom: 2%;
  background: rgb(50, 50, 50);
  color: rgb(255, 255, 255);

}


#footer{
  float: left;
  min-height: 10px;
  max-height: : 50px;
  background: #181818;
  color: white;
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 0 auto;
  list-style-type: none;
  text-decoration: none;
  font-family: roboto;
}

footer em{
  margin-left: 40%;
}
