html{
  font-family: roboto;
}

#menu{
  float: left;
  min-height: 10px;
  max-height: : 100px;
  background: #353535;
  color: white;
  width: 100%;
  display: block;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: roboto;
}

#list{
  padding-left: 20
  display: block;
  float: left;
}

.li-list{
  display: block;
  float: left;
  padding: 2%, 0, 0, 0;
  max-width: 300px;
  min-width: 200px;
  font-weight: bold;
}

.title{
  padding-right: 10%;
}

.a-list{
  text-decoration: none;
  color: white;
}
